*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   background: url(../img2/fon.gif)  center;
}
.tree {
  width: 100%;
}
.tree_wrapper {
  position: relative;
  width: 400px;
}
.ball {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  border: 5px solid goldenrod;
  position: absolute;
  font-size: 28px;
  transform-style: preserve-3d;
  transform: scale(0.2) rotateX(180deg);
  transition: 1s;
}

.ball::after {
  content: "Поздравления от ...";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  transform: rotateX(180deg);
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}
/*----здесь стили ваших шаров------*/


.ball12{
    position:absolute;
    font-size: 20px;
    top:180px;
    left: 80px;
    background: url(../img2/fon1.avif) no-repeat;
    background-size: cover;
    border: 6px solid rebeccapurple;
}

.ball12::after {
    position: absolute;
    font-size: 32px;
    content: "Поздравление";
    background: radial-gradient(circle farthest-side at 50% 50%, rgb(182, 226, 255) 0%, rgb(114, 117, 255) 50%, rgb(240, 242, 255) 100%);
    /* border: 6px solid rebeccapurple; */
    top: 0;
    left: 0;
}
.ball12 button {
    align-items: center;
    font-size: 32px;
    background-color: rgb(255, 250, 243);
    width: 210px;
    height: 50px;
}
.ball6 {
    top: 350px;
    left: 150px;
    background: #ffffff url(../img2/sharik.jpg) center center/cover no-repeat;
    font-size: 25px;

}

.ball6::after {
   
    content: "Поздравления от Констанц Данила к Самому лучшему преподователю";
    background: linear-gradient(0deg, #ff0000 0%, #0011ff 49%, #ffffff 90%);
    border: black;
}

.ball6 button{
    background-color: gray;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 5px;
    color: white;
}
.ball6 p{
    color: white;
}

.ball10 {
    top: 100px;
    left: 20px;
    background: #ffffff url(../img2/year.avif) center center/cover no-repeat;
    
}

.ball10::after {
    content: "Поздравления от группы БИ-113";
    background: #ffffff url(../img2/svinya.png) center center/cover no-repeat;
} 
.ball10 .btn-close{
border-radius: 50%;
border: 1px solid;
background-color: goldenrod;
}
.ball10 .font-size{
    font-size: 25px;
    font-style: italic;
}
.ball9 {
    top: 30px;
    right: 40px;
    background: #ffffff url(../img2/Без\ названия\ \(1\).png) center center/cover no-repeat;
}

.ball9::after {
    content: "Поздравления от Руденко Никиты!";
    background: #ffffff url(../img2/Без\ названия\ \(1\).png) center center/cover no-repeat;
}

.ball9 button{
    border-radius: 8px; 
    font-weight: bold;
    background-color: aqua;
}

.ball1 {
    top: 220px;
    left: 0px;
    background: linear-gradient(0deg, #00ff55 0%, #ffffff 100%);
}

.ball1::after {
    content: "Поздравления от Ильнара БИ - 113";
    background: linear-gradient(0deg, #00ff55 0%, #ffffff 100%);
}

.ball1 p {

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: 'Arial', cursive;
    transform: rotate(); 
}

.ball1 .btn-close {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    
    background: #C62828;
    color: #FFEB3B;
    border: 2px solid #FFD700;
    border-radius: 25px;
    padding: 10px 30px;
    
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    transition: all 0.3s;
    
    outline: none;
}

.ball1 .btn-close:hover {
    background: #B71C1C;
    color: #FFF176;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
    transform: translateX(-50%) rotate(-2deg) scale(1.05);
}


.ball1 .btn-close::after {
    content: '❄';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.ball1 .btn-close:hover::after {
    opacity: 1;
}
.ball2 {
    top: 320px;
    left:30px;
    background-color: rgb(243, 213, 156);
    border: dotted;
    border-color: rgb(196, 37, 25);;
    background: url('../img2/bac2.avif');
    
}

.ball2::after {
    content: "Поздравления от БИ-113";
    background: url('../img2/bac.avif') no-repeat center;
    
}
.ball2 button{
    border: dotted;
    border-color: rgb(196, 37, 25);;
    color: rgb(196, 37, 25);
}

.ball2 p{
    color: rgb(196, 37, 25);
    text-transform: uppercase;
}
.ball13 {
    top: 260px;
    right: 0px;
    color: yellow;
    background: #ffffff url(../img2/clp1098934.jpg) center center/cover no-repeat;
    
}

.ball13::after {
    content: "Поздравления от Никонова Данилы";
    color: yellow;
    background: #ffffff url(../img2/svin.png) center center/cover no-repeat;
}

.ball13 .btn-close {
    background: rgb(255, 0, 0) ;
    border-radius: 30%;
    border: 2px solid lavender;
}

.ball13 .font-size {
    font-size: 24px;
    color: blue;
}
.ball7 {
    top: 120px;
    left: 130px;
    background-color: gold;
}

.ball7::after {
    content: "Поздравления от Артура Пирожкова";
    /* background: radial-gradient(circle farthest-side at 32% 22%, rgba(255, 0, 0, 1) 0%, rgba(118, 0, 0, 1) 88.8%); */
    background-image: url(../img2/images.jpg);
}


.ball7 .circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
/*-------------------------------------------*/

.zoom {
  top: 5%;
  left: 17%;
  transform: scale(1) rotateX(180deg);
  z-index: 100;
}

.show {
  transform: scale(1) rotateX(0);
}
